.cover__link {
    width: 1184px;
    min-height: 720px;
    background-image: url(../../../images/__background.png) ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .cover__link {
        width: 100vw;
        min-height: calc(100vw/1.64);
    }
}