.place__grid {
    max-width: 984px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
}

.place__grid:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1090px) {
    .place__grid {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1090px) {
    .place__grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .place__grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .place__grid {
        padding-bottom: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 760px) {
    .place__grid {
        max-width: 320px;
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}