.position {
    padding-bottom: 92px;
}

.position:last-child {
    padding-bottom: 0;
}

.position:first-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .position {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {

    .position {
        padding-bottom: 64px;
    }
}