.lead {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1090px) {
    .place__grid {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding-top: 48px;
    }
}