@media screen and (max-width: 1200px) {
    .photo-grid__item {
        width: 300px;
        height: 225px;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
}