.lead__train-lady-container{
    display: flex;
    flex-direction: column;
    max-width: 984px;
}

@media screen and (max-width: 1090px) {
    .lead__train-lady-container{
        max-width: 930px;
    }
}

@media screen and (max-width: 984px) {
    .lead__train-lady-container{
        width: 100%;
    }
}

