.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {
    .place__paragraph {
        padding-left: 16px;
    }
}