.page__section {
    padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .page__section {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .page__section {
        padding-bottom: 64px;
    }
}